@model FPTWeb.Data.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PublisherName) *@
            Publisher Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PublisherAddress) *@
            Publisher Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherAddress)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PublisherLogo) *@
            Publisher Logo
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrEmpty(Model.PublisherLogo))
            {
                <img src="/uploads/@Html.DisplayFor(model => model.PublisherLogo)" alt="user" style="width: 100px; height: 100px">
            }
            else
            {
                <p>No photo available</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.PublisherDetails) *@
            Publisher Details
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublisherDetails)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.FoundingYear) *@
            Founding Year
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoundingYear)
        </dd>
    </dl>
</div>
