@model IEnumerable<fptbook.Models.TableBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreOwner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookImage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookImage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookImage3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreOwner.StoreOwnerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
